.DS_Store
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
assets

npm-debug.log
node_modules
bower_components
coverage.html

*.sublime-project
*.sublime-workspace

config/*
!config/default.json
!config/index.js
!config/README.md
assets.json