div.panel.panel-default
    div.panel-heading
      strong 讨论节点导航
    ul.list-group.catalogues
      li.list-group-item 
        div.row
          div.col-sm-2.col-xs-4.section
            span Node.js
          div.col-sm-10.col-xs-8
            ul.list-inline
              li.item: a(href="#") Node.js
              li.item: a(href="#") Npm
              li.item: a(href="#") Express
              li.item: a(href="#") Mongoose
      li.list-group-item
        div.row
          div.col-sm-2.col-xs-4.section
            span 前端
      li.list-group-item
        div.row
          div.col-sm-2.col-xs-4.section
            span Web 开发
      li.list-group-item
        div.row
          div.col-sm-2.col-xs-4.section
            span 分享
      li.list-group-item
        div.row
          div.col-sm-2.col-xs-4.section
            span 社区活动
      li.list-group-item
        div.row
          div.col-sm-2.col-xs-4.section
            span CNode