extends layout
block container
  if err && err.global
    div(class="alert-#{err.level || 'danger'}").global-alert.alert.alert-dismissable
      button(type="button",data-dismiss="alert", aria-hidden="true").close &times;
      each error in err.errors
        p #{error.message}
  div.row
    div.col-md-9#main
      block content
    div.col-md-3#sidebar
      block sidebar