extends layout
block content
  div#favorite-tags.panel.panel-default
    div.panel-heading
      include breadcrumb
    if currentUser.favoriteTagCount <= 0
      div.panel-body
        span 你还没有收藏过节点。
    else
      div.panel-body
        ul.list-inline.tags
          each tag in tags
            li: a(href="/tag/#{tag.name}")
              span.label.label-default #{tag.name}
      ul.list-group.topic-list
        each topic in topics
          li.list-group-item
            include topic_list_item
block sidebar
  include ./sidebar/user_card
  include ./sidebar/top_tags
  include ./sidebar/related_site
  include ./sidebar/ad