doctype 5
html(lang="zh-CN")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(type="image/x-icon", rel="icon", href="/img/favicon32.ico")
    title= page.title
    link(href="/css/style.css", rel="stylesheet")
    script(src="/js/lib.js")
  body
    div(role="navigation").navbar.navbar-default.navbar-static-top
      div.container
        div.navbar-header
          button(type="button", data-toggle="collapse", data-target=".navbar-collapse").navbar-toggle
            span.icon-bar
            span.icon-bar
            sapn.icon-bar
          a(href="/").navbar-brand.logo
            img(src="/img/logo.png", title="Node.js 中文社区")
        div.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li.active: a(href="/") 社区
            li: a(href="/wiki") Wiki
            li: a(href="/signup") 注册
            li: a(href="/signin") 登录
    div.container
      div#main.row
        div.col-md-9
          block content
        div.col-md-3
          block sidebar
  footer
    div.container
      div.media
        div.pull-left
          img(src="/img/logo-light.png").media-object.img-responsive.logo
        div.media-body.content
          nav
            ul.list-inline
              li: a(href="#") 关于
              li &#32;&#8226;&#32;
              li: a(href="#") FAQ
              li &#32;&#8226;&#32;
              li: a(href="#") RSS
              li &#32;&#8226;&#32;
              li: a(href="#") Github
          p &copy; 2012 - 2013
          p 本社区为开源系统，版本: 0.0.1 ，欢迎贡献代码