div.panel.panel-default
    div.panel-heading
      strong 讨论节点导航
    ul.list-group.tags
      each tagList, sectionName in tags
        li.list-group-item 
          div.row
            div.col-xs-4.col-sm-2.section
              span #{sectionName}
            div.col-xs-8.col-sm-10
              ul.list-inline
                each tag in tagList
                  li.item: a(href="#") #{tag.name}