extends layout
block content
  div.topics
    div.panel.panel-default
      div.panel-heading
        include breadcrumb
      div.panel-body.list
        - var topics = new Array(20)
        for topic in topics
          include topic_cell
  include tags
block sidebar
  if isAuthenticated
    include ./sidebar/user_card
  else
    include ./sidebar/about
  include ./sidebar/top_tags
  include ./sidebar/related_site
  include ./sidebar/ad