extends layout
block content
  div.topics
    div.panel.panel-default
      div.panel-heading
        ul.breadcrumb
          li: a(href="/") 主页
          li.active 社区
      div.panel-body.list
        - var topics = new Array(20)
        for topic in topics
          include topic_cell
  include tags
block sidebar
  include ./sidebar/signin_box
  include ./sidebar/top_tags_box
  include ./sidebar/related_site_box
  include ./sidebar/ad_box