div.media.cell
  div.pull-left.author-avatar
    a(href="#")
      img(src="http://gravatar.qiniudn.com/avatar/02268598e9a9f8bebfd5a9f9b2995f7a?s=48", alt="").media-object.img-rounded.img-responsive
  div.media-body
    div.pull-right.comment-count
      a(href="#")
        span.badge 42
    div.info
      div.media-heading.title
          a(href="#") 小伙伴们，我挖了个坑，正在重写 nodeclub 中...小伙伴们，我挖了个坑，正在重写 nodeclub 中...
      p.meta
        a(href="#").tag
          span.label.label-default Node.js
        | &#32;&#8226;&#32;
        a(href="#").username Heroic Yang
        | &#32;&#8226;&#32;
        | 最后由&#32;
        a(href="#").username 大熊
        | &#32;于
        span 1小时前
        | 回复