extends layout
block content
  div.panel.panel-default
    div.panel-heading
      include breadcrumb
    ul.list-group.topic-list
      if pagination.totalCount > 0
        - var hiddenAvatar = true
        each topic in topics
          li.list-group-item
            include topic_list_item
        li.list-group-item
          include pagination
      else
        li.list-group-item
          span 暂无话题。
block sidebar
  if isAuthenticated
    include ./sidebar/user_card
  else
    include ./sidebar/about