div.panel.panel-default
  div.panel-heading
    strong CNode: Node.js 专业中文技术社区
  div.panel-body
    p 在这里你可以：
    ul
      li 提出遇到的问题
      li 解答他人的问题
      li 分享经验教训
      li 与小伙伴们共进步
  ul.list-group
    li.list-group-item
      div.row
        div.col-xs-4.col-sm-4.col-md-4
          a(href="/signup").btn.btn-default.btn-xs.active 现在注册
        div.col-xs-8.col-sm-8.col-md-8
          small 已注册用户请 
          a(href="/signin"): small 登录