script(type="text/template", id="zenarea-tmpl")
  div.widearea-overlayLayer.light
    textarea.widearea-fullscreen.widearea
    div.widearea-controlPanel
      a(href="#", title="退出禅模式", draggable="false").widearea-icon.close
      a(href="#", title="切换主题", draggable="false").widearea-icon.changeTheme