extends ../container
block content
  div#wiki-list-panel.panel.panel-default
    div.panel-heading
      if isAuthenticated && (currentUser.verified || currentUser.isAdmin)
        a(href="/wiki/create",
          title="创建 Wiki").btn.btn-default.btn-xs.pull-right 创建 Wiki
      include ../shared/breadcrumb
    div.panel-body
      if pagination.totalCount > 0
        ul.wiki-list
          each wiki in wikis
            li
              a(href="#{wiki.slug}").title #{wiki.title}
      else
        span 暂无 Wiki。
    if pagination.totalCount > 0
      div.panel-footer
        include ../shared/pagination
block sidebar
  if isAuthenticated
    include ../sidebar/user_card
  else
    include ../sidebar/about
  include ../sidebar/related_site
  include ../sidebar/ad