extends ../layout
block main
  div#wikis.panel
    div.heading
      if isAuthenticated && (currentUser.verified || currentUser.isAdmin)
        a(href="/wikis/create").pure-button.pure-button-primary.add-button 创建 Wiki
      h4
        i.fa.fa-book
        | #{site.name} 目前共有 #{wikiCount} 条 Wiki
    div.content
      ul.wiki-list
        each wiki in wikis
          li: a(href="#{wiki.slug}") #{wiki.title}
    div.footer
      include ../paginator