.pure-table
  width 100%

#dashborad.panel > .recent-topics,
#statistics.panel > ul
  background #fff
  padding 1em 2em

.admin.panel
  .heading
    overflow hidden

  .content
    background #fff
    padding 1em 2em

  .pure-form
    legend
      margin-bottom 1em
