/**
 * 警告框样式
 * @author heroic
 */

.alert
  font-size 0.875em
  font-weight bold
  padding .2em .5em
  border-left-width 3px
  border-left-style solid

.alert-success
  border-left-color #4cae4c
  background #dff0d8
  color #3c763d

.alert-info
  border-left-color #46b8da
  background #d9edf7
  color #31708f

.alert-warning
  border-left-color #eea236
  background #fcf8e3
  color #8a6d3b

.alert-danger
  border-left-color #d43f3a
  background #f2dede
  color #a94442

.alert-global
  margin-bottom 10px