/**
 * 话题详细、页面详细等文章页面的公共样式
 * @author heroic
 */

article.panel
  > .heading h2
    font-size 1.2em
    font-weight 500

  .entry
    background #fff
    color #555
    padding 1em 2em
    @media (max-width: 40em)
      padding 1em .5em

    .meta
      margin 16px 0
      color #888
      font-size 0.8em

  .content
    font-size 0.875em

    pre
      padding 1.3em

  .action
    .pure-button
      color #fff
      margin-right 10px
      border-radius 12px

    .edit-button
      background #5cb85c

    .delete-button
      background #f0ad4e