// 页面详细信息面板的样式
// Topic 和 Page 共用
.page-show
  .header
    .title
      h3
        margin-top 0

    .meta
      color #999
      margin 15px 0 0

      .username
        font-weight bold
        color #777

  .content
    border-top 1px solid #dddddd
    margin-top 15px
    padding 15px 15px 0

    img
      max-width 100%
      padding 4px
      background #fff
      border 1px solid #ddd
      border-radius 4px
      margin-bottom 10px
      transition all .2s ease-in-out
      &:hover
        box-shadow 0 0 8px #ddd

  .panel-footer
    padding 6px 15px

    .fa
      font-size 1.2em

    a
      color #999
    
    .share > a
      margin-right 15px