.editor
  border-radius 2px
  margin-bottom 0
  width 700px
  @media (max-width: 40em)
    width 100%

  .toolbar
    width 100%
    background #fcfcfc
    border-radius 0 0 2px 2px
    border 1px solid #cccccc
    border-top 1px dashed #cccccc
    padding 0 10px
    font-size 12px

    > *
      margin-right 10px

    #et-upload-pic
      position relative
      overflow hidden
      color #4183c4

      input
        position absolute
        top 0
        right 0
        margin 0
        -ms-filter 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)'
        opacity 0
        cursor pointer

    .uploading,
    .upload-error
      display none
      padding 1px 5px
      line-height 1.5

    #et-insert-code
      display inline-block
      position relative

      .lang-menu
        display none
        position absolute
        top auto
        bottom 100%
        margin-bottom 1px
        left 0
        z-index 1000
        min-width 160px
        padding 5px 0
        margin 2px 0 0
        font-size 13px
        list-style none
        background-color #fff
        border 1px solid #ccc
        border 1px solid rgba(0,0,0,0.15)
        box-shadow 0 6px 12px rgba(0,0,0,0.175)
        border-radius 4px
        border-bottom-left-radius 0
        border-bottom-right-radius 0

        > li > a
          display block
          padding 3px 20px
          clear both
          font-weight normal
          line-height 1.428571429
          color #333
          white-space nowrap
          &:hover,
          &:focus
            background-color #f5f5f5
            text-decoration none
      &.open
        .lang-menu
          display block

    .upload-error
      color #c7254e

  textarea
    border-radius 2px 2px 0 0 !important
    border-bottom 0
    line-height 1.5em !important
    margin-bottom 0 !important
    width 100% !important

    &:focus
      + .toolbar
        border-color #129fea
        border-top-color #cccccc
        outline 0
        box-shadow inset 0 1px 3px #ddd

    &:focus:invalid
      border-bottom 0

      + .toolbar
        border-color #ee5f5b
        border-top-color #cccccc

  #write
    position relative

  #preview
    position relative
    display none
    font-size 0.875em
    border 1px solid #ccc
    border-radius 2px
    box-shadow inset 0 1px 3px #ddd

    .preview-button
      position absolute
      left auto
      right 5px
      font-size 16px

    .content
      padding .6em
      padding-right 1.5em
      min-height 30px

    pre
      padding 1em

    img
      max-width 100%
      padding 4px
      background #fff
      border 1px solid #ddd
      border-radius 4px
      margin-bottom 10px
      &:hover
        box-shadow 0 0 8px #ddd