.editor
  border-radius 3px
  margin-bottom 0

  .panel-body
    padding-bottom 0

  .nav-tabs
    margin-left -15px
    margin-right -15px

    > li
      &:first-child
        margin-left 15px

      a
        padding 5px 15px

  .tab-content
    padding 15px 0

  .toolbar
    width 100%
    background #fcfcfc
    border-radius 0 0 4px 4px
    border 1px solid #cccccc
    border-top 1px dashed #cccccc
    padding 5px 10px
    font-size 12px

    #et-upload-pic
      position relative
      overflow hidden

      input
        position absolute
        top 0
        right 0
        margin 0
        -ms-filter 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)'
        opacity 0
        cursor pointer

    .uploading,
    .error
      display none
      padding 1px 5px
      line-height 1.5

    .lang-menu
      border-bottom-left-radius 0
      border-bottom-right-radius 0

    .error
      color #c7254e

  .has-error > .toolbar
    border-color #b94a48


  textarea
    border-radius 4px 4px 0 0
    border-bottom 0

    &:focus
      + .toolbar
        border-color #66afe9
        border-top-color #cccccc
        outline 0
        box-shadow inset 0 0px 1px rgba(0,0,0,.075), 0 1px 4px rgba(102, 175, 233, 0.6)

  #write
    position relative

  #preview
    img
      max-width 100%
      padding 4px
      background #fff
      border 1px solid #ddd
      border-radius 4px
      margin-bottom 10px
      &:hover
        box-shadow 0 0 8px #ddd