/**
 * 定义需要用到的图标
 * @author heroic
 */

.fa-tag
  fa-icon("tag")

.fa-tags
  fa-icon("tags")

.fa-magnet
  fa-icon("magnet")

.fa-book
  fa-icon("book")

.fa-cog
  fa-icon("cog")

.fa-sign-out
  fa-icon("sign-out")

.fa-search
  fa-icon("search")

.fa-bookmark
  fa-icon("bookmark")

.fa-bookmark-o
  fa-icon("bookmark-o")

.fa-check-circle-o
  fa-icon("check-circle-o")

.fa-check-circle
  fa-icon("check-circle")

.fa-picture-o
  fa-icon("picture-o")

.fa-eye
  fa-icon("eye")

.fa-eye-slash
  fa-icon("eye-slash")

.fa-pencil-square-o
  fa-icon("pencil-square-o")

.fa-sort-amount-desc
  fa-icon("sort-amount-desc")

.fa-code
  fa-icon("code")

.fa-tint
  fa-icon("tint")

.fa-arrows-alt
  fa-icon("arrows-alt")

.fa-trash-o
  fa-icon("trash-o")

.fa-reply
  fa-icon("reply")

.fa-weibo
  fa-icon("weibo")

.fa-twitter
  fa-icon("twitter")

.fa-facebook
  fa-icon("facebook")

.fa-google-plus
  fa-icon("google-plus")

.fa-clock-o
  fa-icon("clock-o")

.fa-home
  fa-icon("home")

.fa-map-marker
  fa-icon("map-marker")

.fa-angle-double-right
  fa-icon("angle-double-right")

.fa-angle-right
  fa-icon("angle-right")

.fa-spinner
  fa-icon("spinner")

.fa-exclamation-circle
  fa-icon("exclamation-circle")

.fa-flag
  fa-icon("flag")

.fa-filter
  fa-icon("filter")

.fa-star
  fa-icon("star")

.fa-pencil
  fa-icon("pencil")

.fa-trash-o
  fa-icon("trash-o")

.fa-lock
  fa-icon("lock")

.fa-unlock
  fa-icon("unlock")

.fa-level-up
  fa-icon("level-up")

.fa-level-down
  fa-icon("level-down")

.fa-star
  fa-icon("star")

.fa-star-o
  fa-icon("star-o")