/**
 * 网站基础样式
 * @author heroic
 */

*
  box-sizing border-box

html, body
  height 100%

body
  margin 0 auto
  line-height 1.7em

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"]
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif

a
  color #4183c4
  text-decoration none
  &:hover
    color #2a6496
    text-decoration underline

ul
  list-style none
  margin 0
  padding 0

p, pre
  margin 0.3em 0

code, pre
  font-family Monaco, Menlo, Consolas, "Courier New", monospace
  color #333
  background rgb(250, 250, 250)

pre
  word-wrap break-word
  padding 6px 10
  line-height 1.3em
  margin-bottom 20
  border 1px solid #eee

  code
    padding 0
    margin 0
    font-size 0.95em
    white-space pre-wrap

code
  border none
  margin 0 2px
  font-size 0.8em
  padding 0.4em 0.6em
  white-space nowrap

textarea
  resize vertical

// helper-classes
.img-responsive
  max-width 100%
  height auto

.sr-only
  position absolute
  width 1px
  height 1px
  padding 0
  margin -1px
  overflow hidden
  clip rect(0,0,0,0)
  border 0

.badge
  display inline-block
  min-width 10px
  padding 3px 7px
  font-size 12px
  font-weight bold
  line-height 1
  color #fff
  text-align center
  white-space nowrap
  vertical-align baseline
  background-color #999
  border-radius 10px

// pure-button-sizes
.pure-button-xsmall
  font-size 70%

.pure-button-small
  font-size 85%

.pure-button-large
  font-size 110%

.pure-button-xlarge
  font-size 125%

// override pure-button style
.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected 
  background #458c6b
  color #fff

// container
#container
  background-color #eaeaea
  min-height 100%
  height auto
  margin 0 auto -70px
  padding 0 0 70px

// header
#header
  margin 0
  color #333

  .pure-menu.pure-menu-open.pure-menu-fixed
    padding 0
    border 0
    border-bottom 5px solid #458c6b
    box-shadow 0 2px 10px rgba(0, 0, 0, 0.25)

    > ul.nav
      height 3em

  .pure-menu-heading
    float left
    color #458c6b
    text-transform none
    padding 11px 20px

    h1
      margin 0
      font-size 1.3em

  .pure-menu
    .nav
      float left
      @media (max-width: 40em)
        display none

      > li > a
        line-height inherit
        border none
        padding 11px 20px

        &:hover,
        &:focus
          background-color rgba(0, 0, 0, 0.05)
          color #458c6b
          text-decoration none

      > li.pure-menu-selected > a
        background-color #458c6b
        color #fff

  .nav-toggle
    position relative
    float right
    padding 6px
    margin 8px 15px
    margin-left 0
    background-color #f8f8f8
    border 1px solid #ddd
    border-radius 4px
    @media (min-width: 40em)
      display none

    .icon-bar
      display block
      width 22px
      height 2px
      border-radius 1px
      background-color #ccc

      &+.icon-bar
        margin-top 4px

  .nav-collapse
    clear both
    font-size 0.875em
    @media (min-width: 40em)
      display none
    
    > ul
      left 0
      top 0
      position relative
      visibility visible

      li
        a:hover,
        a:focus
          text-decoration none
          color #458c6b
      li.selected
        a
          color #fff
          background-color #458c6b

  .profile
    display inline-block
    float right
    margin-right 20px
    font-size 14px

    &.unlogin
      @media (max-width: 40em)
        display none

      > a
        padding 12px 0
        display inline-block
        width 32px

    &.logged
      .notification-indicator
        display inline-block
        position relative
        padding 0
        margin-right 10px
        @media (max-width: 40em)
          padding 10px 0

      .info
        display inline-block
        position relative
        padding 7px 16px
        @media (max-width: 40em)
          display none

        .username
          margin-left 6px
          padding 0
          display inline-block

          &:hover,
          &:focus
            text-decoration none

        .gravatar
          line-height 0
          padding 0
          display inline-block
          width 32px

          img
            vertical-align middle
            border-radius 50px

        ul
          display none
          right 0
          left auto
          top 3.4em
          width 120%
          visibility visible
          z-index 1000
          background #fff
          border 1px solid #ccc
          border-bottom-right-radius 3px
          border-bottom-left-radius 3px
          box-shadow 0 5px 10px rgba(0, 0, 0, 0.2)

          li
            display block

            .fa
              margin-right 10px

            > a
              display block
              padding 6px 50px
              color #999

            > a:hover,
            > a:focus
              text-decoration none
              color #458c6b
              background-color #f5f5f5

        &:hover
          background-color #e7e7e7
          ul
            display block

// main
#main
  margin 1.2em auto 0
  padding 4em 6em
  @media (max-width: 40em)
    padding .5em
    padding-top 4em

// footer
#footer
  padding 0.5em 6.7em
  height 70px
  line-height 1.2em
  font-size 0.9em
  font-style italic
  text-shadow 0 1px 1px #fff
  @media (max-width: 40em)
    padding 0.5em

  .nav
    li
      display inline-block
    li > .divide
      font-size 0.8em
      color #aaa
      margin 0 5px

    p
      margin 0