a
  color #444

  &:hover
    color #111

.navbar
  .logo
    padding 6px 20px

    img
      max-height 36px

footer
  background #f5f5f5

  .logo
    width 24px

  .content
    padding 15px 0 15px 15px
    
    nav
      a
        color #444
        font-weight bold

        &:hover
          color #111