/**
 * 全站基础样式
 * @author heroic
 */

// 覆盖 Bootstrap 默认的整体背景颜色等样式
html,body
  background #fefefe
  height 100%

// 覆盖 Bootstrap 默认的链接样式
a
  color #4183c4
  &:hover
    color #2a6496

textarea
  resize vertical

// 调整 Bootstrap 中面包屑导航在面板中的样式
.panel
  .breadcrumb
    margin 0
    padding 0
    border-radius 0

.pagination
  margin 0

// 为使 footer 一直居于底部
#container-wrap
  min-height 100%
  height auto
  margin 0 auto -160px
  padding 0 0 160px

// 网站顶部导航栏样式
.navbar
  border-color #ddd
  box-shadow 0 1px 1px rgba(0, 0, 0, 0.05)

  .logo
    padding 6px 20px

    img
      max-height 36px

    h1
      margin 0
      font-size 32px

.global-alert
  padding 8px 35px 8px 15px

.avatar-32
  width 32px

.avatar-48
  width 48px

.avatar-64
  width 64px

.avatar-80
  width 80px

// 网站底部样式
footer
  background #fff
  border-top 1px solid #e7e7e7
  height 160px

  .container
    padding-top 15px
    padding-bottom 15px

  .content
    a
      font-weight bold
      margin-right 5px
      margin-left 5px

    nav
      a:first-child
        margin-left 0

      .delimiter
        color #999

    .copyright
      font-size 13px