/**
 * 用户个人首页的样式
 * @author heroic
 */

#profile.panel
  background #fff
  padding 1em 2em
  @media (max-width: 40em)
    padding 1em .5em

  #follow-button
    float right
    padding 0.3em 1.2em
    font-size 0.8em
    border-radius 12px

  .intro
    text-align center

    .gravatar
      width 80px
      display inline-block
      margin-right 10px
      @media (max-width: 40em)
        text-align center

      > img
        border-radius 50px
        vertical-align middle

    .info
      > h4.nickname
        margin 0
        display inline-block

      .bio
        margin 0
        font-style italic

    .extra-info
      font-size 0.875em
      color #777

      ul > li
        display inline-block
        margin-right 10px

        a
          color #777

        .fa
          margin-right 3px

  .latest-topics
    margin-top 20px

    > h4
      border-top 1px solid #ddd
      margin 1em -2em
      padding 0.5em 2em
      color #777
      @media (max-width: 40em)
        margin 1em -0.5em
        padding 0.5em 0.5em

    .topic-list
      .item
        padding-left 0
        padding-right 0

        .title
          padding-left 0