/**
 * 侧边栏模块的样式
 * @author heroic
 */

#sidebar
  #user-card
    .author-avatar
      width 48px

    .username
      font-weight bold
      font-size 16px

    .tagline
      font-size 12px
      color #999

    .state
      text-align center