/**
 * 侧边栏模块的样式
 * @author heroic
 */

#sidebar
  #user-card
    .author-avatar
      width 48px

    .username
      font-weight bold
      font-size 16px

    .tagline
      font-size 12px
      color #999

    .state
      text-align center

    .panel-footer
      font-size 13px

      .badge
        padding 2px 6px
        background #b94c22

      .notification
        color #777

      .score
        .fa
          color #4183c4

  #markdown-refer
    li
      margin-bottom 2px
    p
      margin 0

    pre
      margin 0
      padding 5px 5px 0