/**
 * 登录/注册页面的样式
 * @author heroic
 */

#sign.panel
  background #fff
  padding 2em

  .pure-form
    .pure-control-group > label
      display none

    input
      margin 1em 0
      font-size 0.9em
      line-height 1.2em
      border-radius 2px
      width 340px

    label > input
      width auto
      vertical-align middle

    .go-forgot
      margin-top 10px