/**
 * 话题发布页面的样式
 * @author heroic
 */

#topic-form.panel
  > .pure-form
    #tag, #title
      width 400px

    .content-editor
      width 700px
      margin-bottom 1em
      textarea
        width 100%

    @media (max-width: 40em)
      #tag, #title, .content-editor
        width 100%