/**
 * 话题列表样式
 * @author heroic
 */

.topic-list
  background #fff

  .item
    padding 1em 2em
    border-bottom 1px solid #ddd
    position relative
    line-height 1em

    .gravatar
      float left
      width 36px
      display inline-block

      img
        border-radius 4px

    .title
      padding-left 46px

      h4
        font-size 1.1em
        margin 0 0 6px

        > a:visited
          color #777

    .meta
      color #888

      a
        color #888

      a.edit
        color #5cb85c

      a.delete
        color #f0ad4e