/**
 * 社区话题列表页面样式
 * @author heroic
 */

#topics.panel
  > .heading
    overflow hidden

    .tag-favorite
      font-size 0.7em

      > a
        margin-left 10px

        &:hover,
        &:focus
          text-decoration none
          color rgb(243, 123, 29)

      > cite
        color #aaa
        font-weight normal

    .action
      float right
      margin-left 2em

    .filter-nav
      display inline-block
      margin-right 10px
      font-size 0.8em

      > li
        display inline-block

        .divide
          color #aaa
          margin 0 5px
          font-size 0.7em
    .add-button
      float none