/**
 * 话题详细页面的样式
 * @author heroic
 */

#topic.panel
  > .heading h2
    font-size 1.2em
    font-weight 500

  .entry
    background #fff
    color #555
    padding 1em 2em
    @media (max-width: 40em)
      padding 1em .5em

    .meta
      margin 16px 0
      color #888
      font-size 0.8em

      .gravatar
        width 32px
        display inline-block
        margin-right 10px

        > img
          max-width 100%
          height auto
          border-radius 50px
          vertical-align middle
    .content
      font-size 0.875em

      pre
        padding 1.3em

    .action
      .pure-button
        color #fff
        margin-right 10px
        border-radius 12px

      .edit-button
        background #5cb85c

      .delete-button
        background #f0ad4e

    #comment
      margin 16px 0

      textarea
        width 60%
        font-size 0.9em
        line-height 1.7em
        border-radius 2px
        margin-bottom 10px
        @media (max-width: 40em)
          width 100%

    .comment-list
      margin 2em -2em 0.6em
      @media (max-width: 40em)
        margin-right -.5em
        margin-left -.5em

      .item
        padding 1em 2em
        @media (max-width: 40em)
          padding 1em .5em

        .meta
          margin 0

        .content
          margin-top 10px
          font-size 0.9em

      .item.odd
        background #f2f2f2