/**
 * 话题相关样式
 * @author heroic
 */

// 通用的话题列表样式
.topic-list
  .list-group-item
    .content
      padding-right 36px

      .title
        font-size 16px

      .meta
        color #999
        margin-bottom 1px

        .tag
          .label
            padding .1em .5em .2em
          &:hover
            text-decoration none

        .username
          font-weight bold
          color #777

// 社区页面的话题列表
#community-topics
  .tag-head
    font-size 12px
    color #777

  .tag-content
    font-size 13px
    color #999
    margin-top 6px

    p
      margin-bottom 0

  .panel-body
    padding-top 0
    padding-bottom 0

  .sorts
    padding 8px 15px
    background #fcfcfc
    font-size 13px

    .fa
      color #999

    .tab
      margin-left 10px
      color #999
      &.active
        color #555
        font-weight bold

// 社区页面的节点导航
#tags-nav
  .section
    text-align right
    color #999

// 话题详细页面的话题内容面板
#topic-panel
  .header
    .title
      h3
        margin-top 0

    .meta
      color #999
      margin 15px 0 0

      .username
        font-weight bold
        color #777

  .content
    border-top 1px solid #dddddd
    margin-top 15px
    padding 15px 15px 0

    img
      max-width 100%
      padding 4px
      background #fff
      border 1px solid #ddd
      border-radius 4px
      margin-bottom 10px
      transition all .2s ease-in-out
      &:hover
        box-shadow 0 0 8px #ddd

  .panel-footer
    padding 6px 15px

    .fa
      font-size 1.2em

    a
      color #999
    
    .share > a
      margin-right 15px

// 话题详细页面的评论列表
.comment-list
  .list-group-item
    .deleted
      margin-bottom 0
      padding-left 58px
      color #777

      span
        margin-left 20px
        color #999

    .action
      a
        color #777

    .meta
      margin-bottom 5px
      padding-right 50px
      color #999

      a
        font-weight bold
        color #777

      span
        margin-left 10px

    .content
      p:last-child
        margin-bottom 0

// 话题详细页面的无评论时提示
.no-comment
  border-style dashed
  text-align center

// 话题发布页面
#topic-edit
  .mobile-sep
    margin 6px 0

// 节点收藏页面
#favorite-tags
  .tags
    margin-bottom 0

    a:hover
      text-decoration none