.topics
  .list
    padding 0

  .cell
    padding 10px
    margin-top 0
    border-bottom 1px solid #dddddd

    &:last-child
      border-bottom 0

    .author-avatar
      width 48px

    .title
      font-size 16px

    .info
      padding-right 36px

    .meta
      color #999

      .catalogue
        &:hover
          text-decoration none

      .username
        font-weight bold
        color #777