/**
 * 用户相关模块的样式
 * @author heroic
 */

// 个人首页的个人简介面板
#profile-panel
  .media-heading
    padding-right 90px

    .nickname
      margin-top 0

  .extra-info
    color #999

    p
      margin-bottom 6px

    ul
      margin-bottom 0

// 个人首页的最近评论列表
#latest-comment-list
  .list-group-item
    padding-top 0
    background #fafafa

    .describe
      position relative
      border-bottom 1px solid #ddd
      padding 10px 15px
      background #fff
      color #999
      font-size 13px

      &:before,
      &:after
        content ''
        position absolute
        bottom -1px
        left 30px
        border-left 6px solid transparent
        border-right 6px solid transparent
        border-bottom 6px solid #fafafa
        margin-left -6px
        
      &:before
        bottom -1px
        border-left 8px solid transparent
        border-right 8px solid transparent
        border-bottom 8px solid
        border-bottom-color inherit
        margin-left -8px

      .title
        padding-right 70px

      a
        color #666

    .content
      padding-top 10px
      margin-bottom -5px

// 设置页面的头像设置
#avatar-setting
  .current
    img
      margin-right 10px

  .intro
    border-top 1px solid #ddd
    padding 10px 15px 0
    margin-bottom -5px
    font-weight bold