/**
 * 用户相关模块的样式
 * @author heroic
 */

#profile
  .info
    padding-right 90px

    .nickname
      margin-top 0

  .extra-info
    color #999

    p
      margin-bottom 6px

    ul
      margin-bottom 0