/**
 * 一些 stylus 变量定义
 * @author heroic
 */

// Font Icon
font-icon = FontAwesome
font-icon-path = '../font/fontawesome-webfont'

@font-face {
  font-family 'FontAwesome'
  font-style normal
  font-weight normal
  src url(font-icon-path.eot?v=4.0.3)
  src url(font-icon-path.eot?#iefix&v=4.0.3) format('embedded-opentype'),
      url(font-icon-path.woff?v=4.0.3) format('woff'),
      url(font-icon-path.ttf?v=4.0.3) format('truetype'),
      url(font-icon-path.svg?v=4.0.3#FontAwesomeRegular) format('svg')
}