/**
 * Wiki 列表页面的样式
 * @author heroic
 */

#wikis.panel
  .heading
    .add-button
      margin-left 2em

  .content
    padding 2em
    background #fff

    .wiki-list
      list-style initial
      margin-left 1em

      li
        margin 10px 0