.wiki-list
  padding-left 20px
  margin-bottom 0

  li
    margin-bottom 5px
    &:last-child
      margin-bottom 0

  .title
    font-size 14px
    font-weight bold

#wiki-list-panel
  .panel-footer
    background-color transparent