extends ../container
block content
  div.panel.panel-default
    div.panel-heading
      include ../shared/breadcrumb
    ul.list-group.topic-list
      if currentUser.favoriteTopicCount > 0
        each topic in topics
          li.list-group-item
            if topic.deleted
              span 该话题已被删除。
            else
              include ../shared/topic_list_item
        li.list-group-item
          include ../shared/pagination
      else
        li.list-group-item: span 暂无话题收藏。
block sidebar
  include ../sidebar/user_card
  include ../sidebar/related_site
  include ../sidebar/ad