* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.7em;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  color: #2a6496;
  text-decoration: underline;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p, pre {
  margin: 0.3em 0;
}

/* pure-css override start */
.pure-button-xsmall {
  font-size: 70%;
}

.pure-button-small {
  font-size: 85%;
}

.pure-button-large {
  font-size: 110%;
}

.pure-button-xlarge {
  font-size: 125%;
}

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
  background: #458c6b;
  color: #fff;
}
/* pure-css override end */

.container {
  background-color: #eaeaea;
  min-height: 100%;
  height: auto;
  margin: 0 auto -120px;
  padding: 0 0 120px;
}

/* header begin */
.header {
  margin: 0;
  color: #333;
}

.header .pure-menu.pure-menu-open.pure-menu-fixed {
  padding: 0;
  border: 0;
  border-bottom: 5px solid #458c6b;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.header .pure-menu.pure-menu-horizontal>ul.nav {
  height: 3em;
}

.header .pure-menu-heading {
  color: #458c6b;
  text-transform: none;
  padding: 11px 20px;
}

.header .pure-menu-heading h1 {
  margin: 0;
  font-size: 1.3em;
}

.header .pure-menu .nav li a {
  line-height: inherit;
  border: none;
  padding: 11px 20px;
}

.header .pure-menu .nav li a:hover,
.header .pure-menu .nav li a:focus {
  background-color: rgba(0, 0, 0, 0.05);
  color: #458c6b;
  text-decoration: none;
}

.header .pure-menu .nav li.pure-menu-selected a {
  background-color: #458c6b;
  color: #fff;
}

.header .pure-menu .nav-collapse ul {
  left: 0;
  top: 0;
  position: relative;
  visibility: visible;
}

.header .nav-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 6px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #f8f8f8;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #ddd;
}

.header .nav-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #ccc;
}

.header .nav-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 40em) {
  .header .nav-toggle {
    display: none;
  }
  
  .header .nav-collapse {
    display: none;
  }
}
@media (max-width: 40em) {
  .header .pure-menu .nav {
    display: none;
  }
}

.header .profile {
  display: inline-block;
  float: right;
  overflow: hidden;
  height: 3em;
  padding: 10px 20px;
  font-size: 14px;
  zoom: 1;
  vertical-align: middle;
}

.header .profile a {
  padding: 0;
  display: inline;
}
/* header end */

/* main begin */
.main {
  margin: 1.2em auto 0;
  padding: 4em 6em;
}
@media (max-width: 40em) {
  .main {
    padding: 1em;
    padding-top: 4em;
  }
}
/* main end */

/* panel start */
.panel {
  background: #f8f8f8;
  box-shadow: 0 2px 2px #bbb;
  -webkit-box-shadow: 0 2px 2px #bbb;
}

.panel .header {
  border-bottom: 1px solid #ddd;
  padding: 1em;
}

.panel .header h2 {
  margin: 0;
  font-size: 1.2em;
  font-weight: 500;
}

.panel .header .filter-nav {
  text-align: right;
  font-size: 0.8em;
}

.panel .header .filter-nav>li {
  display: inline-block;
}

.filter-nav>li .divide {
  color: #aaa;
  margin: 0 5px;
  font-size: 0.7em;
}

.filter-nav .pure-button {
  border-radius: 12px;
  padding: 0.3em 1.3em;
}

.filter-nav .pure-button:hover,
.filter-nav .pure-button:focus {
  text-decoration: none;
}

.panel .footer {
  padding: 1em;
  text-align: center;
}

.panel .footer .pure-paginator li {
  margin: 0 3px;
}

.panel .footer .pure-paginator .pure-button {
  background-color: #ddd;
  height: auto;
  padding: 0.6em 1em;
}

.panel .footer .pure-paginator .pure-button:hover {
  text-decoration: none;
}

.panel .footer .pure-paginator .prev,
.panel .footer .pure-paginator .next {
  border-radius: 0;
}

.panel .footer .pure-paginator .pure-button-active {
  cursor: default;
  background: #4183c4;
  color: #fff;
}
/* panel end */

/* topic-list begin */
.topic-list {
  background: #fff;
}

.topic-list .item {
  padding: 1em 2em;
  border-bottom: 1px solid #ddd;
  position: relative;
  line-height: 1em;
}

.topic-list .item .gravatar {
  width: 36px;
  display: inline-block;
}

.topic-list .item .gravatar img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.topic-list .item .wrapper {
  padding-left: 10px;
}

.topic-list .item h4 {
  font-size: 1.1em;
  margin: 0 0 6px;
}

.topic-list .item h4>a:visited {
  color: #777;
}

.topic-list .item .meta,
.topic-list .item .meta a {
  color: #888;
}
/* topic-list end */

#footer {
  padding: 0 6.7em;
  height: 120px;
  font-size: 0.9em;
  font-style: italic;
  text-shadow: 0 1px 1px #fff;
}
@media (max-width: 40em) {
  #footer {
    padding: 0em 1em;
  }
}

#footer .nav li {
  display: inline-block;
}

#footer .nav li>.divide {
  font-size: 0.8em;
  color: #aaa;
  margin: 0 5px;
}

#footer p {
  margin: 0;
}
