.panel>.header {
  overflow: hidden;
}

.panel>.header .add-button {
  margin-left: 2em;
}

.panel>.content {
  padding: 2em;
  background: #fff;
}

.wiki-list {
  list-style: initial;
  margin-left: 1em;
}

.wiki-list li {
  margin: 10px 0;
}